@model BlogDetailVM
<div class="page-top-info">
    <div class="container">
        <div class="site-pagination">
            <a href="/">Ana Sayfa</a> /
            <a href="">@Model.Blog.Title</a>
        </div>
    </div>
</div>